@page
@model CMS_UI.Pages.Admin.Users.IndexModel
@{
}
<h1>Users</h1>
@if (Model.Alert is not null)
{
	<div class="alert alert-dismissible alert-danger">

		<form method="post" asp-page-handler="DismissAlert">
			<button type="submit" asp-page-handler="DismissAlert" class="btn-close" aria-label="Close"></button>
		</form>
		<strong>@Model.Alert</strong>
	</div>
}

@if (Model.Users is not null)
{
	<partial name="~/Pages/Admin/Partials/_TablePartial.cshtml" model="Model.Users" />
}

