@page "/Admin/Roles/Delete/{id}"
@model CMS_UI.Pages.Admin.Roles.DeleteModel
@{
}
@if (Model.Alert is not null)
{
	<div class="alert alert-dismissible alert-danger">

		<form method="post" asp-page-handler="DismissAlert">
			<button type="submit" asp-page-handler="DismissAlert" class="btn-close" aria-label="Close"></button>
		</form>
		<strong>@Model.Alert</strong>
	</div>
}
<div class="text-center mx-auto mb-4">
	<h1>are you sure you want to delete</h1>
</div>

<partial name="~/Pages/Admin/Partials/_FormPartial.cshtml" model="Model.Form" />